@import '../scss/partials/bootstrap-override.scss';

.navbar-brand{
    img{
        width: 6em;
    }
}


header{
    svg{
        display: inline-block;
        color: white;
        width: 1em;
        height: 1em;
    }

    .btn{
        width: 40px;
        height: 40px;
    }
}

.dropdown-toggle::after{
    color: rgb(227, 227, 227);
}

header .dropdown-menu[data-bs-popper]{
    left: -100px;
}

main{
    font-weight: 600;
    font-size: 1.2rem;
    nav{
        li.dropdown{
            background-color: black;
            border: 1px white solid;
            height: 1.2em;
        }
        li.dropdown:hover{
            background-color: rgb(24, 24, 24);
        }

        .d-flex{

            .btn-bk{
                background-color: none;
                border: 1px white solid;
            }
            .btn-bk:hover{
                background-color: rgb(26, 26, 26);
                cursor: pointer;
            }
        }

        section.trending-now-section{
            .container-fluid{
                --bs-gutter-x: 0.2em;
            }

            .row div.col-md-2{
                max-width: 100%;
                padding-right: 0;
                padding-left: 0;
                margin-top: var(--bs-gutter-y);
            }
        }

        
    }
}